<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container p-4">
        <img src="../../../assets/logo.png" width="15%" height="auto"> <a class="navbar-brand" href="/">ECcommerce
            Online</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0 ms-lg-4">
                <li *ngIf="showButtonsList" class="nav-item"><a class="nav-link active" (click)="navigateAdd()">Agregar
                        prenda</a></li>
                <li *ngIf="showButtonsAdd" class="nav-item"><a class="nav-link active" (click)="navigateList()">Lista de
                        prendas</a></li>

                <!--<li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
            </ul>
        </div>
    </div>
</nav>