<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body text-center">
            <form #myForm="ngForm">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" [(ngModel)]="clothe.nombre" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="text" name="Talla" placeholder="Talla" [(ngModel)]="clothe.talla" class="form-control" >
                </div>
                <div class="form-group">
                    <input type="number" name="cantidad_existente" required placeholder="Cantidad existentes" [(ngModel)]="clothe.cantidad_existente" class="form-control" #CantInput="ngModel" >
                </div>
                <div class="form-group">
                    <input type="number" name="precio" required placeholder="Precio" [(ngModel)]="clothe.precio" class="form-control" #precioInput="ngModel" >
                    <!-- <div *ngIf="precioInput.invalid || CantInput.invalid" class="text-danger">El precio es obligatorio</div>
                    <div *ngIf="CantInput.invalid" class="text-danger">La cantidad del producto es obligatorio</div> -->

                </div>
                <br>
                <div class="form-group">
                    <input name="file" type="file" (change)="onFileSelected($event)">
                </div>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <!-- <button class="btn btn-success btn-block" (click)="edit == true ? updateGame() : saveNewGame()"> -->
                    <button class="btn btn-success btn-block" (click)="saveNewGame()"> 
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md">
    <div class="card card-body text-center">
        <img [src]="clothe.imagen_base64 == '' ? 'assets/defaultImage.jpg' : clothe.imagen_base64" class="card-img-top">
        <h3>{{clothe.nombre == '' ? 'Prenda' : clothe.nombre}}</h3>
        <p>$ {{clothe.precio == undefined ? 'Precio' : clothe.precio}}</p>
    </div>
</div> 